app.namespace=https://jpa03-henryanderson.herokuapp.com
app.admin.emails=phtcon@ucsb.edu

auth0.domain=ucsb-ucsb-cs156-henryanderson.us.auth0.com
auth0.clientId=bK8zeccOy8noqwFPgfgO5c1HeZGL073c

security.oauth2.resource.id=https://jpa03-henryanderson.herokuapp.com/
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json

spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.datasource.driver-class-name = org.postgresql.Driver
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults=false

spring.datasource.url=${JDBC_DATABASE_URL}
spring.datasource.username=${JDBC_DATABASE_USERNAME}
spring.datasource.password=${JDBC_DATABASE_PASSWORD}
spring.jpa.hibernate.ddl-auto=update
