app.namespace=https://jpa03-henryanderson.herokuapp.com
app.admin.emails=phtcon@ucsb.edu

auth0.domain=ucsb-ucsb-cs156-henryanderson.us.auth0.com
auth0.clientId=bK8zeccOy8noqwFPgfgO5c1HeZGL073c

security.oauth2.resource.id=https://jpa03-henryanderson.herokuapp.com/
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json
